//
//  Config-DzdpMultiLevelMenuDemo.debug.xcconfig
//  JNDzdpMultiLevelMenuDemo
//
//  Created by jackie-pc on 2022/9/10.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-JNDzdpMultiLevelMenuDemo/Pods-JNDzdpMultiLevelMenuDemo.debug.xcconfig"

A=/
HOST_URL = http:${A}/128.0.0.1

